@model List<DBModels.DeliveredResource>

@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<form action="DeliveredResourcePageRoot" id="DivMenu">
    <button name="menu_button_0" value="Y" onclick="SumbitFuncButton(0)" id="skewed_button">Добавить записи</button>
    <button name="menu_button_1" value="N" onclick="SumbitFuncButton(1)" id="skewed_button">Вывести записи</button>
    <button name="menu_button_2" value="N" onclick="SumbitFuncButton(2)" id="skewed_button">Обновить записи</button>
    <button name="menu_button_3" value="N" onclick="SumbitFuncButton(3)" id="skewed_button">Удалить записи</button>
    <button name="menu_button_4" value="N" onclick="SumbitFuncButton(4)" id="skewed_button">Вернутся</button>
    <input id="SecretInput" name="sumbitButton" value="Create" style="display:none;" />
</form>

<div id="DivMenuOfFiltersOfRead">
    <form method="post" id="DivSelectMenu">
        <div id="DivMenuOfTable">
            <label>Индефикатор поставки</label>
            <input id="0" type="checkbox" onchange="ChoseFilterInput(0)" />
        </div>
        <div id="DivMenuOfTable">
            <label>Год</label>
            <input id="1" type="checkbox" onchange="ChoseFilterInput(1)" />
        </div>
        <div id="DivMenuOfTable">
            <label>Квартал</label>
            <input id="2" type="checkbox" onchange="ChoseFilterInput(2)" />
        </div>
        <div id="DivMenuOfTable">
            <label>Размер поставки</label>
            <input id="3" type="checkbox" onchange="ChoseFilterInput(3)" />
        </div>
        <div id="DivMenuOfTable">
            <label>Индефикатор поставщика</label>
            <input id="4" type="checkbox" onchange="ChoseFilterInput(4)" />
        </div>
    </form>

    <div>
        <label>Создание</label>
        <form style="background-color: powderblue;" id="DivInputMenu" method="post" action="DeliveredResourcePageRead">
            <div style="display: none;" name="0input" id="DivMenuOfTable">
                <label>Индефикатор поставки</label>
                <input name="DeliveredResourcesId" type="number" />
            </div>
            <div style="display: none;" name="1input" id="DivMenuOfTable">
                <label>Год</label>
                <input type="number" name="YearOfDelivery" />
            </div>
            <div style="display: none;" name="2input" id="DivMenuOfTable">
                <label>Квартала</label>
                <input type="number" name="QuarterOfDelivery" />
            </div>
            <div style="display: none;" name="3input" id="DivMenuOfTable">
                <label>Размер поставки</label>
                <input type="number" name="SizeOfResourseUsed" />
            </div>
            <div style="display: none;" name="4input" id="DivMenuOfTable">
                <label>Индефикатор поставщика</label>
                <input type="number" name="SupplyContractsId" />
            </div>

            <input name="TypePage" value="CreatePage" style="display: none;" />
            <button id="skewed_button" type="submit">Отправить</button>
        </form>

        <form style="background-color: red;" id="DivInputMenu" method="post" action="DeliveredResourcePageCreate">
            <div style="display: block;" name="1input" id="DivMenuOfTable">
                <label>Год</label>
                <input type="number" name="YearOfDelivery" />
            </div>
            <div style="display: block;" name="2input" id="DivMenuOfTable">
                <label>Квартала</label>
                <input type="number" name="QuarterOfDelivery" />
            </div>
            <div style="display: block;" name="3input" id="DivMenuOfTable">
                <label>Размер поставки</label>
                <input type="number" name="SizeOfResourseUsed" />
            </div>
            <div style="display: block;" name="4input" id="DivMenuOfTable">
                <label>Индефикатор поставщика</label>
                <input type="number" name="SupplyContractsId" />
            </div>

            <input name="TypePage" value="CreatePage" style="display: none;" />
            <button id="skewed_button" type="submit">Отправить</button>
        </form>
    </div>
</div>
<div id="DivInputFilter's'">
</div>
<div id="DivResult">
    @if (Model.Count != 0)
    {
        <table class="table">
            <tr>
                <th>DeliveredResourcesId</th>
                <th>YearOfDelivery</th>
                <th>QuarterOfDelivery</th>
                <th>SizeOfResourseUsed</th>
                <th>SupplyContractsId</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DeliveredResourcesId</td>
                    <td>@item.YearOfDelivery</td>
                    <td>@item.QuarterOfDelivery</td>
                    <td>@item.SizeOfResourseUsed</td>
                    <td>@item.SupplyContractsId</td>
                </tr>
            }
        </table>
    }

    <div>
        @if (ViewBag.TotalPages > 1)
        {
            for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <a href="@Url.Action("DeliveredResourcePageRoot", new { CurentPage = i, pageSize = ViewBag.PageSize, sumbitButton = "menu_button_0"})">@i</a>
            }
        }
    </div>
</div>