@model List<DBModels.Material>

@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<form action="MaterialPageRoot" id="DivMenu">
    <button name="menu_button_0" value="Y" onclick="SumbitFuncButton(0)" id="skewed_button">Добавить записи</button>
    <button name="menu_button_1" value="N" onclick="SumbitFuncButton(1)" id="skewed_button">Вывести записи</button>
    <button name="menu_button_2" value="N" onclick="SumbitFuncButton(2)" id="skewed_button">Обновить записи</button>
    <button name="menu_button_3" value="N" onclick="SumbitFuncButton(3)" id="skewed_button">Удалить записи</button>
    <button name="menu_button_4" value="N" onclick="SumbitFuncButton(4)" id="skewed_button">Вернутся</button>
    <input id="SecretInput" name="sumbitButton" value="Create" style="display:none;" />
</form>

<div id="DivMenuOfFiltersOfRead">
    <form method="post" id="DivSelectMenu">
        <div id="DivMenuOfTable">
            <label>Тип материала</label>
            <input id="0" type="checkbox" onchange="ChoseFilterInput(0)" />
        </div>
        <div id="DivMenuOfTable">
            <label>Название ГОСТа</label>
            <input id="1" type="checkbox" onchange="ChoseFilterInput(1)" />
        </div>
        <div id="DivMenuOfTable">
            <label>ГОСТ</label>
            <input id="2" type="checkbox" onchange="ChoseFilterInput(2)" />
        </div>
        <div id="DivMenuOfTable">
            <label>Мера измерения</label>
            <input id="3" type="checkbox" onchange="ChoseFilterInput(3)" />
        </div>
        <div id="DivMenuOfTable">
            <label>Характеристики материала</label>
            <input id="4" type="checkbox" onchange="ChoseFilterInput(4)" />
        </div>
    </form>

    <div>
        <label>Создание</label>
        <form style="background-color: powderblue;" id="DivInputMenu" method="post" action="MaterialPostPage">
            <div style="display: none;" name="0input" id="DivMenuOfTable">
                <label>Тип материала</label>
                <input name="MaterialType" />
            </div>
            <div style="display: none;" name="1input" id="DivMenuOfTable">
                <label>Название ГОСТа</label>
                <input name="NameOfStateStandart" />
            </div>
            <div style="display: none;" name="2input" id="DivMenuOfTable">
                <label>ГОСТ</label>
                <input name="StateStandart" />
            </div>
            <div style="display: none;" name="3input" id="DivMenuOfTable">
                <label>Мера измерения</label>
                <input name="MeasureOfMeasurement" />
            </div>
            <div style="display: none;" name="4input" id="DivMenuOfTable">
                <label>Характеристики материала</label>
                <input name="Characteristics" type="number" />
            </div>
            <input name="TypePage" value="CreatePage" style="display: none;"/>
            <button id="skewed_button" type="submit">Отправить</button>
        </form>

        <form style="background-color: red;" id="DivInputMenu" method="post" action="MaterialPageCreate">
            <div style="display: block;" name="0input" id="DivMenuOfTable">
                <label>Тип материала</label>
                <input name="MaterialType" />
            </div>
            <div style="display: block;" name="1input" id="DivMenuOfTable">
                <label>Название ГОСТа</label>
                <input name="NameOfStateStandart" />
            </div>
            <div style="display: block;" name="2input" id="DivMenuOfTable">
                <label>ГОСТ</label>
                <input name="StateStandart" />
            </div>
            <div style="display: block;" name="3input" id="DivMenuOfTable">
                <label>Мера измерения</label>
                <input name="MeasureOfMeasurement" />
            </div>
            <div style="display: block;" name="4input" id="DivMenuOfTable">
                <label>Характеристики материала</label>
                <input name="Characteristics" type="text" />
            </div>
            <input name="TypePage" value="CreatePage" style="display: none;" />
            <button id="skewed_button" type="submit">Отправить</button>
        </form>
    </div>
</div>
<div id="DivInputFilter's'">
</div>
<div id="DivResult" style="width: 75%;">
    @if (Model.Count != 0)
    {
        <table class="table">
            <tr>
                <th>MaterialId</th>
                <th>MaterialType</th>
                <th>NameOfStateStandart</th>
                <th>StateStandart</th>
                <th>Characteristics</th>
                <th>MeasureOfMeasurement</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MaterialId</td>
                    <td>@item.MaterialType</td>
                    <td>@item.NameOfStateStandart</td>
                    <td>@item.StateStandart</td>
                    <td>@item.Characteristics</td>
                    <td>@item.MeasureOfMeasurement</td>
                </tr>
            }
        </table>
    }
</div>